@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');


body{
    background-color: black;
    color: white;
    margin: 0 auto;
    max-width: 1800px;
}

#root{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.timeline{
    flex: 0 0 600px;
    font-family: 'Inter', sans-serif;
    border-left: 1px solid #2F3336;
    border-right: 1px solid #2F3336;
}

.header {
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2F3336;
}

.top-tweets {
    width: 1.5rem;
    height: auto;
}

.page-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.tweet-editor {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding:  .3rem 1rem;
    border-bottom: 1px solid #2F3336;
}

.avatar {
    flex: 0 0 70px;
    /*padding: 0 rem;*/
}

.avatar img {
    max-width: 100%;
    max-height: 100px;
    border-radius: 100%;
}

.tweet-editor-form {
    flex: auto;
}

.tweet-editor-input {
    height: 60px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    resize: none;
    padding: 10px 0 0 0;
    margin: 13px 0;
}

.tweet-editor-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tweet-editor-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*padding: 0.8rem 0;*/
    gap: 1rem;
}
.tweet-editor-actions button {
    background-color: transparent;
    border: none;
}
.button {
    text-transform: capitalize;
    padding: .7rem 1.5rem;
    border: none;
    border-radius: 50px;
    background-color: #1D9BF0;
    color: white;
    font-size: 1rem;
    align-items: center;
}
.tweet{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #2F3336;
}

.tweet-avatar {
    /*height: 70px;*/
    /*width: 70px;*/
    flex: 0 0 70px;
}

.tweet-avatar img{
    max-width: 5rem;
    max-height: 3rem;
    border-radius: 100%;
}
.tweet-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
}
.tweet-body{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.tweet-title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    font-size: 1rem;
}

.tweet-title svg{
    width: 1.2rem;
    height: auto;
}
.tweet-title-author{
    font-size: 1rem;
}
.tweet-title-details{
    color: #6E767D;
}
.tweet-text{
    color: #D9D9D9;
    font-size: 1rem;
}

.tweet-image{
    width: 100%;
    padding:  .3rem 0 0 0;
}

.tweet-image img{
    max-width: 100%;
    height: auto;
    border-radius: 50px;
    border-color: #2F3336;
    border-style: solid;
    border-width: 1px;
}

.tweet-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    color: grey;
    font-size: 1rem;
}

.tweet-actions svg{
    width: 1rem;
    height: auto;
    color: #2F3336;
      
}

.tweet-action{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.left-sidebar{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    position: sticky;
    top: 0;
    left: 0;
    padding: 1.5rem;
    font-size: 0.8rem;
}
.left-sidebar  MyLink{
    /* height: 100%;
    top: 0; */
   
    /*padding-right: 1rem;*/
    /* justify-content: right; */
}



.buttonsidebar {
    text-transform: capitalize;
    padding: .7rem 1.5rem;
    border: none;
    border-radius: 50px;
    background-color: #1D9BF0;
    color: white;
    text-align: center;
}
 .rignt-sidebar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem; 
    height: 20rem;
    top: 0;
    right: 0;
    padding: 1.5rem; 
     
  } 
.trends{
    font-family: 'Inter', sans-serif;
    height: 100%;
    top: 0;
    gap: 2rem; 
    
}
.searchBox{
        height: 3rem;
        width: 18rem;
        border-radius: 8rem;
        background-color: #272D33;
        display: flex;
        margin: 10px 20px;
        padding: 10px;
    }
    .iconSearch {
       height: 1rem; 

    }
    .inputSearch {
        background-color: #272D33;
        border: none;
        outline: none;
        color: white;
        width: 15rem;

    }
.searchText{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
   
    
}
.bradley{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}
/*.ortiz{
    justify-content: space-between;
    flex-direction: row;
    
    
    align-items: center;
    gap: 1rem; 
}*/
.Trends{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 20px;
    width: 800;
    font-size: 30px;

   
}
.trendingLists{
    background-color: #2F3336;
    padding: 2rem;
    width: 19rem;
    border-radius: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    
    
}
.trendingTitle{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}
.trendingBlock{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    color: #6E767D;
    font-size: 12px;
    
    
}
.tredingBlockTitle{
 display: flex;
 justify-content: space-between;   
}
.squid{
    color: #D9D9D9;
}

.AccountFollow{
    display: flex;
    margin: 1rem 0;
    color: #6E767D;
    
}
.accaountName{
    justify-content: space-between;
}
.accaount{
    font-size: 0.5rem;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    color:whitesmoke;
    gap: 1.5rem;
}
.followLists{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 7px;
    background-color: #2F3336;
    padding: 2rem;
    border-radius: 10px;
    width: 19rem;
    font-size: 15px;
}
/*.accaount{
    
    gap: 2rem;
    
}*/
.paragraph{
    padding-left: 1rem;   
}
.buttonFollow{
    /*padding: .3rem 1rem;*/
    gap: 1.5rem;
    border: none;
    border-radius: 50px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    font-size: 1rem; 
    width: 4rem;  
}
h5{
    color: #1D9BF0;
}
p{
color: #6E767D;
font-size: 0.5rem;
}
.link{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.profilephoto{
    background: url("src/images/tweet-image.png") no-repeat center;
    display: flex;
    /*flex-direction: column;*/
    gap: 1rem;
    height: 20rem;
    justify-content: space-between;
    
    
}
.buttonmore{
flex-direction: column;
margin-right: auto;
}
.button-useProfile{
    padding: .3rem 1rem;
    border: none;
    border-radius: 50px;
    background-color: white;
    color: black;
}
.profileAvatar{
    margin-left: 1rem;
    margin-top: -3rem;
}

  
  
  
  




